<app-divider>Memnuniyet Anketi</app-divider>
<app-table></app-table>
<app-divider>Ekstra Bilgiler</app-divider>
<app-tabs>
  <a
    routerLink="./"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="item"
  >
    <!-- router link aktif opsiyonları için kullanılıyor eğer url de tam eşleşme saglanırsa etkili oluyor -->
    Sertifikalar
  </a>
  <a routerLink="./language" routerLinkActive="active" class="item">
    Yabanci Dil
  </a>
  <a routerLink="./school" routerLinkActive="active" class="item">
    Mezuniyet
  </a></app-tabs
>
